.toplevel_page_support-tickets #icon-edit, #icon-support-tickets, .wp-support_page_support-ticket-settings #icon-edit{
	background: url('../img/icon_32.png') no-repeat center center;
}

#adminmenu #toplevel_page_support-tickets div.wp-menu-image{
	background:transparent url('../img/icon_16_grey.png') no-repeat center center;
}

#adminmenu #toplevel_page_support-tickets:hover div.wp-menu-image,
#adminmenu #toplevel_page_support-tickets.wp-has-current-submenu div.wp-menu-image{
	background:transparent url('../img/icon_16.png') no-repeat center center;
}

#the-list td{padding: 8px 7px 10px;}
.ticket-priority  {text-align: center;}
.edd-ticket-priority {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
		  border-radius: 3px;
}
.edd-ticket-priority.low {
	background-color: #888;
}
.edd-ticket-priority.normal {
	background-color: #3a87ad;
}
.edd-ticket-priority.high {
	background-color: #b94a48;
} 

/**
 * Single Ticket View
 */
a.support-url {display:block;}
 /* Question */
.support-ticket ul, .support-ticket li{
	list-style: none;
	margin:0;
	padding:0;
}
.support-ticket .question{
	width:99%;
	overflow: hidden;
	border:1px solid #DDD;
	border-bottom-style: dashed;
	background: #F1F1F1;
}
.support-ticket .question .left{
	float:left;
	width:74%;
	margin-right: 5%;
	min-height: 150px;
}
.support-ticket .question .meta-head{
	margin: 15px 15px 0 15px;
	padding-bottom: 5px;
	border-bottom:1px solid #DDD;
}
.support-ticket .question .meta-content{
	margin:  10px 15px 15px;
}
.support-ticket .question .meta-head h1{
	padding: 0;
	margin:0;
	line-height:110%;
}
.support-ticket .question p.desc{
	padding: 0;
	margin:3px 0 0;	
	color:#333;
}
.support-ticket .question .right{
	float:right;
	width:20%;
	padding-top:20px;
}

/* Answer */
.support-ticket .response{
	width:99%;
	overflow: hidden;
	border:1px solid #DDD;
	border-bottom-style: dashed;
	background: #F1F1F1;
}
.support-ticket .response .left{
	float:left;
	width:74%;
	margin-right: 5%;
	min-height: 150px;
}
.support-ticket .response .meta-head{
	margin: 15px 15px 0 15px;
	padding-bottom: 5px;
	border-bottom:1px solid #DDD;
}
.support-ticket .response .meta-content{
	margin:  10px 15px 15px;
}
.support-ticket .response .meta-head h1{
	padding: 0;
	margin:0;
}
.support-ticket .meta-head h1 a{
	color:#444;
	text-decoration: none;
}
.support-ticket .meta-head h1 a:hover{
	color:#444;
	text-decoration: underline;
}
.support-ticket .response p.desc{
	padding: 0;
	margin:3px 0 0;	
	color:#333;
}
.support-ticket .response .right{
	float:right;
	width:20%;
	padding-top:20px;
}
.support-ticket li{
	margin-top: 10px;
}

/* answer toolbar */
.support-ticket .actions{
	width:99%;
	overflow: hidden;
	border:1px solid #DDD;
	border-top: none;
	background: #FCFCFC;
	margin:0;
	padding:0;
}
.support-ticket .actions ul{
	padding:10px;
	margin:0;
	overflow: hidden;
}
.support-ticket .actions li{
	margin:0 2px;
	padding:0 5px;
	float:left;
}
.support-ticket .actions p{
	margin:0;
	padding:10px;
}
.left-action{
	float:left;
}
.right-action{
	float:right;
}

/* License status */
.license-key {
	display: none;
}
.license-status {
	text-transform: uppercase;
	font-size: .8em;
}
.license-status.inactive {
	color: orange;
}
.license-status.active {
	color: green;
}
.license-status.expired {
	color: red;
}

/**
 * Form Styles
 */
.support-ticket .form{
	width:99%;
	margin-top:10px;
	border:1px solid #DDD;
	background: #F1F1F1;
}
.support-ticket .form form{
	margin:20px;
	padding:0;
}
.support-ticket .form .textarea{
	margin-bottom: 10px;
}

/* Browse all tickets */
.support-ticket-index{
	margin:0;
	padding: 0;
}
.support-ticket-index li .question{
	border-bottom-style:solid;
}
.support-ticket-index .meta-info{
	float:left;
	padding:15px;
}
.support-ticket-index .question .meta-head{
	float:left;
	margin:15px 0;
	border: none;
	width: 55%;
	display: block;
}
.support-ticket-index .question .status{
	float:right;
}
.support-ticket-index .status p{
	padding:5px 10px;
	margin:0;
	font-size:14px;
	color:#FFF;
	border-left:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background: #21759B;
}
.support-ticket-index p.title{
	font-size: 16px;
	line-height:120%;
	padding:0 0 5px;
	margin:0;
}
.support-ticket.priority-0{
	border-left: 7px solid #DFF2BF;
}
.support-ticket.priority-5{
	border-left:7px solid #FEEFB3;
}
.support-ticket.priority-10{
	border-left:7px solid #FFBABA;
}

/**
 * Browse Open Tickets
 */
abbr.timeago {
	display: block;
	font-style: italic;
}
.tickets .support-ticket.single .question{
	margin-bottom:10px;
	border-bottom-style: solid;
}

.tickets .ticket-1{
	border:1px solid #4F8A10;
	background:#DFF2BF;
}
.tickets .ticket-1 .meta-head{
	border-bottom-color: #4F8A10;
}
.tickets .ticket-5{
	border:1px solid #9F6000;
	background:#FEEFB3;
}
.tickets .ticket-5 .meta-head{
	border-bottom-color: #9F6000;
}
.tickets .ticket-10{
	border:1px solid #D8000C;
	background:#FFBABA;
}
.tickets .ticket-10 .meta-head{
	border-bottom-color: #D8000C;
}
#notification_user-msg_title, #notification_admin-msg_title{
	width:100%;
}
#notification_user-msg_body, #notification_admin-msg_body{
	width:100%;
	height:100px;
}

.form_header h2{
	margin:20px;
}