.cf:before, .cf:after { /* Some clearfix code from HTML5 Boilerplate */
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}
.input{
	margin-bottom: 10px;
}
.input.text{
    width:100%;
}
.input.text label, .input.textarea label{
    width:100%;
    display:block;
}
.input label{
	color:#333;
}
.input.support-checkbox label {margin-left: 8px;}
.input.text input, .input.textarea textarea, .input.password input {
    width:96%;
    padding:10px 2%;
}
.input.textarea textarea{
	height:100px;
}
.input.required label:before{
    color:red;
    content:'* '
}
.input.required label:after{
	content:': ';
}
.select label {margin-right: .5em;}
.form_cols_2{
	overflow: hidden;
}
.form_cols_2 .input.two_col_left{
	width:47%;
	float:left;
}
.form_cols_2 .input.two_col_right{
	width:47%;
	float:right;
}
.error_msg{
	margin:10px 20px;
}
.error_msg p{
	padding:10px;
}
.error_msg.warn p{
	background:#FEEFB3;
	color:#9F6000;
	border:1px solid #9F6000;
}
.error_msg.success p{
	background:#DFF2BF;
	color:#4F8A10;
	border:1px solid #4F8A10;
}
.validation_msg p {
	padding: 5px;
	background-color: #b94a48;
	color: #fff;
}
/**
 * Add ticket form
 */
.form_wrapper{
	width: 99%;
}

.form_wrapper form{
	margin: 20px 0 20px;
}

.form_wrapper .form_header{
	margin: 20px 0 20px;
}


/**
 * Single Support Ticket View
 */

.support-ticket{
}
a.support-url {display:block;}
.support-ticket ul, .support-ticket li{
	list-style: none;
	margin:0 !important;
	padding:0;
}
.support-ticket .question{
	width:99%;
	overflow: hidden;
}
.support-ticket .question .left{
	float:left;
	width:74%;
	margin-right: 5%;
	min-height: 150px;
}
.support-ticket .question .meta-head{
	padding-bottom: 5px;
}
.support-ticket .question .meta-content{
}
.support-ticket .question .meta-head h1{
	padding: 0;
	margin:0;
}
.support-ticket .question p.desc{
	padding: 0;
	margin:3px 0 0;	
	color:#333;
}
.support-ticket .question .right{
	float:right;
	width:20%;
	padding-top:20px;
}


.support-ticket .response{
	width:99%;
	overflow: hidden;
}
.support-ticket .response .left{
	float:left;
	width:74%;
	margin-right: 5%;
	min-height: 150px;
}
.support-ticket .response .meta-head{
	margin: 15px 15px 0 15px;
	padding-bottom: 5px;
}
.support-ticket .response .meta-content{
	margin:  10px 15px 15px;
}
.support-ticket .response .meta-head h2{
	padding: 0;
	margin:0;
	line-height:110%;
}
.support-ticket .meta-head h2 a{
	color:#444;
	text-decoration: none;
}
.support-ticket .meta-head h2 a:hover{
	color:#444;
	text-decoration: underline;
}
.support-ticket .response p.desc{
	padding: 0;
	margin:3px 0 0;	
	color:#333;
}
.support-ticket .response .right{
	float:right;
	width:20%;
	padding-top:20px;
}

.support-ticket li{
	margin-top: 10px !important;
}

.support-ticket .form{
	width:99%;
	margin-top:10px;
}
.support-ticket .form form{
	padding:0;
}
.support-ticket .form .textarea{
	margin-bottom: 10px;
}

/**
 * Browse Open Tickets
 */
.edd-ticket-heading {
	margin: 1em 0 1em; 	
}
.edd-ticket-heading h3.inline{
	display: inline; 	
	float: left;
}
.edd-ticket-submit-new {
	float: right; 
	padding-bottom: 1em; 
}
.tickets .support-ticket.single .question{
	margin-bottom:10px;
	border-bottom-style: solid;
}
ul.edd-ticket-list {
	margin: 0!important;
	padding: 0!important;
	list-style-type: none!important;
}
.edd-ticket-list .supportmessage {
	margin: 0;
	padding: 1em 0 1em;
	border-bottom: 1px solid #ddd;
}
.edd-ticket-title {
	margin: 0 0 .5em;
	padding: 0;
	display: inline-block;
	font-size: 1.2em;
}
.edd-ticket-list abbr {
	border-bottom: none;
}
.edd-ticket-list .ticket-gravatar {
	width: 45px;
	float: left;
}

.edd-ticket-list .ticket-info {
	margin: -3px 0 0 45px;
	padding: 3px 0;
}

.edd-ticket-meta {
	margin: 0!important;
	padding: 10px 0 0;
	border-top: 1px solid #eaeae9;
	overflow: hidden;
	clear: both;
	font-size: .92em;
	list-style: none;
}

.edd-ticket-meta a {
	color: #333;
}

.edd-ticket-meta small {
	display: block;
	color: #666;
	font-weight: 700;
	font-size: .85em;
	margin-bottom: 3px;
}

.edd-ticket-meta li {
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
	border-right: 1px solid #eeeeed;
	float: left;
	margin-bottom: 10px;
	list-style: none;
}
.edd-ticket-priority {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
		  border-radius: 3px;
}
.edd-ticket-priority.low {
	background-color: #888;
}
.edd-ticket-priority.normal {
	background-color: #3a87ad;
}
.edd-ticket-priority.high {
	background-color: #b94a48;
} 
/**
 * Responsive 
 */
@media only screen and (min-width: 481px) {
	.form_cols_2 .input.two_col_left, .form_cols_2 .input.two_col_right{
		width: 96%;
		float: left;
	}
}